.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 229, 0);
  background: radial-gradient(
    circle,
    rgba(255, 229, 0, 1) 0%,
    rgba(167, 89, 2, 1) 100%
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  width: 60%;
  height: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.inner-cont {
  display: flex;
  height: 50%;
  width: 100%;
  box-sizing: border-box;
}
.top-cont {
  width: 33.3%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 24px;
}
.input-container {
  justify-content: center;
  align-items: flex-end;
}
.input {
  outline: none;
  border: none;
  height: 60%;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-family: "Libre Franklin", sans-serif;
  font-size: 18px;
}
